@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime

<div class="d-flex flex-column p-3">
    <ul class="nav nav-pills flex-column mb-auto">
        @if (role == "Admin")
        {
            <li class="nav-item">
                <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                    <i class="bi bi-house me-2"></i> Dashboard
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/contacts">
                    <i class="bi bi-cart me-2"></i> Contacts
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/projects">
                    <i class="bi bi-box-seam me-2"></i> Projects
                </NavLink>
            </li>
        }
        else if (role == "User")
        {
            <li class="nav-item">
                <NavLink class="nav-link" href="/projects">
                    <i class="bi bi-box-seam me-2"></i> Projects
                </NavLink>
            </li>
        }
    </ul>

    <hr />

    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <NavLink class="nav-link text-muted" href="/profile">
                <i class="bi bi-box-seam me-2"></i> Profile
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private string role;

    protected override async Task OnInitializedAsync()
    {
        role = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "role");
    }
}


