@page "/user/projects"
@layout MainLayout

<h4 style="margin-left:-2px; margin-bottom:15px">Projects</h4>

<div class="container-fluid d-flex justify-content-center" style="margin-left:-25px">
    <div class="card p-3 shadow-lg" style="width: 1035px; height: 430px">
    </div>
</div>